<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_event_management_root"
        name="Event Management"
        sequence="50" />
    
    <menuitem id="menu_event"
        name="Events"
        parent="menu_event_management_root"
        action="action_event_management_event"
        sequence="40" />

    <menuitem id="menu_event_attendee"
        name="Event Attendee"
        parent="menu_event_management_root"
        action="action_event_management_attendee"
        sequence="30" />

    <menuitem id="menu_event_organizer"
        name="Event Organizer"
        parent="menu_event_management_root"
        action="action_event_management_organiser"
        sequence="40" />

    <menuitem id="menu_event_registration"
        name="Event Registration"
        parent="menu_event_management_root"
        action="action_event_management_registrations"
        sequence="40" />

    <!--for wizard xls report -->
    <menuitem id="menu_registration_report"
        name="Registration Report"
        parent="menu_event_management_root"
        action="action_event_management_registrations"
        groups="group_event_manager"
        sequence="40" />

</odoo>