<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_Product_style_root"
        name="Products"
        sequence="10"/>

    <menuitem id="action_product_style_test"
        name="Product Style"
        parent="sale.product_menu_catalog"
        action="action_product_style"
        sequence="10"/>

        <menuitem id="action_product_business_category_test"
        name="Business Category"
        parent="sale.product_menu_catalog"
        action="action_business_category"
        sequence="10"/>

</odoo>
