<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- <menuitem id="menu_Product_style_root"
        name="Products"
        sequence="10"/> -->

    <!-- <menuitem id="menu_product_style_test"
        name="Product_Style"
        parent="sale.product_menu_catalog"
        action="action_product_style_form"
        groups="purchase.group_purchase_manager"
        sequence="100"/> -->

    <menuitem id="menu_product_style_test"
        name="Product_Style"
        parent="sale.product_menu_catalog"
        action="action_product_style_form"
        sequence="100"/> 
    
    <menuitem id="menu_salespersons_report"
        name="Salespersons Report"
        parent="sale.menu_sale_report"
        action="action_salespersons_report"
        sequence="100"/>

</odoo>
